<%- include("partials/header.ejs") %>

<div class="delete-item-container">
    <h1>Изтриване на пост</h1>
    <p>Сигурни ли сте, че искате да изтриете този пост: "<%= post.title %>"?</p>
    
    <form action="/<%= channel_id %>/delete-post/<%= post.post_id %>?_method=DELETE" method="POST">
        <button type="submit">Изтриване</button>
        <a href="/view/<%= channel_id %>" class="button">Назад</a>
    </form>
</div>

<%- include("partials/footer.ejs") %>
