<%- include("partials/header") %>

<div class="container">
    <h2>Изтриване на поста</h2>
    <p>Сигурни ли сте, че искате да изтриете този пост: "<%= post.title %>"?</p>
    
    <form action="/<%= channelId %>/delete-post/<%= post.postId %>?_method=DELETE" method="POST">
        <button class="button delete-button" type="submit">Изтриване</button>
        <a href="/view/<%= channelId %>" class="button">Назад</a>
    </form>
</div>

<%- include("partials/footer") %>
