<%- include("partials/header.ejs") %>


    <div class="container px-4 py-5 flex-grow-1" id="hanging-icons">
        <h1 class="pb-5">Welcome to Blog Weekly</h1>
        <% if(locals.list.length) {%>
            <h2 class="pb-2 border-bottom">Current Posts</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <% for (let index = 0; index < list.length; index++) { %>
                <div class="col d-flex align-items-start pb-4">
                    <div class="post">
                        <h3 class="fs-2 text-body-emphasis"><%= list[index].title %></h3>
                        <p><%= list[index].content %></p>
                        <a href="<%= `/edit/${index}` %>" class="btn btn-primary">Edit</a>
                        <form action="<%= `/delete/${index}` %>" method="POST" id="delete-form">
                          <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            <% } %>
            </div>
        <% } else { %>
            <h2 class="pb-2">So quiet...😪</h2>
        <% } %>
    </div>
    

<%- include("partials/footer.ejs") %>