<%- include("partials/header.ejs") %>

<div class="container">
    <% if (channel) { %>
        <div class="channel-name">
            <h1><%= channel.name %></h1>
        </div>

        <%- include("partials/search-bar-posts.ejs") %>
        <%- include("partials/posts.ejs") %>
    <% } else { %>
        <p>Този канал не съществува.</p>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>