<%- include("partials/header.ejs") %>

<div class="form-container">
    <h1>Списък на каналите</h1>

    <% if (channels.length > 0) { %>
        <div class="channel-grid">
            <% channels.forEach(function(channel) { %>
                <div class="channel-card">
                    <p class="channel-name"><a href="/view/<%= channel.channel_id %>"><%= channel.name %></a></p>
                    <p><%= channel.admin %></p>
                    <small>Създаден на: <%= channel.date_of_creation %></small>
                    
                    <div class="mt-2">
                        <a href="/<%= channel.channel_id %>/edit" class="edit-button">Редактиране</a>
                        <a href="/<%= channel.channel_id %>/delete" class="delete-button">Изтриване</a>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>Няма налични канали.</p>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
